@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:border-animation {
    position: relative;
    display: inline-block;
  }
  
  .hover\:border-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 0;
    background: black;
    transition: width 1s ease;
  }
  
  .hover\:border-animation:hover::after {
    width: 100%;
  }